# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ReacAPP-Foodfix\foodfix\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
